<div class="header">
<header>
  <a href="#/" class="logo"><img src="/assets/images/logo.png">MoneyMe</a>
</header>
<nav class="navbar navbar-toggleable-md navbar-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand" href="#">Today Date:</span>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Top bit coin mining<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Top paying hyip</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Scams</a>
      </li>
    </ul>
  </div>
</nav>
</div>
