.details {
  padding-top: 25px;
  padding-bottom: 25px;
  .table {
    border-radius: 5px;
    width: 50%;
    margin: auto;
    float: none;
    tr {
      background-color: #ffffff;
      &:nth-of-type(odd) {
        background-color: lightgray;
      }
      td {
        padding: 5px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;

        a {
          color: #78a15a;
        }
        p {
          margin: 0;
        }
      }
    }
  }
  h3 {
    font-weight: bold;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    span {
      color: #c50000;
      &:nth-last-child(1) {
        color: #78a15a;

      }
    }
  }
}
