@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700|Roboto:300,400,500,700');

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

body, h1, h2, h3 {
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}

body {
  &:after {
    content: "";
    background: url(/assets/images/bg.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-filter: grayscale(0.1); /* Old WebKit */
    filter: grayscale(0.1);
  }
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: #5aadbb;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Josefin Sans", sans-serif;
  background-color: #232322;
  position: sticky;
  z-index: 904;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center;
  a.logo {
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    white-space: nowrap;
    outline: none !important;
    line-height: 90px;
    img {
      width: 40px;
      margin-right: 3px;
    }
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
    &:focus {
      text-decoration: none;
    }
  }
  * {
    box-sizing: border-box;
  }
  /* Advanced Checkbox Hack */
  body {
    -webkit-animation: bugfix infinite 1s;
  }
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
    to {
      padding: 0;
    }
  }

  input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  label {
    display: none;
    cursor: pointer;
    user-select: none;
  }
  /* custom-dropdown */
  nav[role="custom-dropdown"] {
    position: relative;
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.45);
    a {
      &:hover {
        background: #fff;
        color: #525659;
        border-radius: 5px;
        text-decoration: none;
      }
      &.active {
        background: #fff;
        color: #525659;
        border-radius: 5px;
        text-decoration: none;
      }
    }
    a,
    label {
      padding: 5px;
      color: #ccc;
      text-decoration: none;
      font-size: 1em;
      transition: color .3s ease-in-out;
    }

    ul {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      list-style: none;
      text-align: center;

      > li {
        display: inline-block;
        padding: .55em .55em;
        text-align: center;
        cursor: pointer;

      }
    }
  }

  /* small screens */
  @media screen and (max-width: 44em) {
    html,
    body {
      margin: 0;
    }

    nav[role="custom-dropdown"] {
      ul {
        display: none;
        height: 100%;
      }

      label {
        position: relative;
        display: block;
        width: 100%;
        min-height: 2em;
        padding: .25em;
        font-size: 1.8em;
        margin: 0;
        border: 0.15em solid rgba(60, 60, 60, 0.2);
      }
      label:after {
        position: absolute;
        right: .25em;
        top: -0.2em;
        content: "\2261";
        font-size: 1.8em;
      }

      input[type=checkbox]:checked ~ label:after {
        color: #222;
      }

      input[type=checkbox]:checked ~ ul {
        display: block;

        > li {
          width: 100%;
          opacity: .8;
          text-align: left;
        }
      }
    }
  }
}

.footer {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 18px 0;
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  font-size: 13px;
  color: #666666;
  transition: padding-left 0.5s ease;

  nav {
    height: 100%;
    width: auto;
    ul {
      padding-top: 30px;
      padding-left: 0;
    }
    li, ul {
      list-style: none;
      text-align: center;
    }
    li {
      display: inline-block;
    }
    a {
      display: inline-block;
      color: #ffffff;
      margin: 0 5px 0 5px;
      font-weight: 200;
      font-size: 16px;
    }
  }
  a {
    &:hover {
      text-decoration: underline;
    }
    &.active {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: none;
    }
  }
  .credits {
    p {
      font-size: 16px;
      font-weight: 200;
      color: #ffffff;
      margin-top: 23px;
      @media (max-width: 922px) {
        margin: 0;
        text-align: center;
      }
      span {
        color: #f44336;
        font-size: 26px;
      }
    }
  }
  .copyrights {
    h2 {
      color: #ffffff;
      font-weight: 200;
      margin-top: 12px;
    }
  }
}

.title {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
  color: #ffffff;
  line-height: normal;
  margin-top: 5%;
  h1,h2 {
    margin: auto;
    text-align: center;
  }
  h1 {
    span {
      color: #c50000;
    }
  }
  h2 {
    span {

    }
  }
}
