<!--<div class="techs-container">-->
  <!--<h2 class="techs-h2">-->
    <!--Cooked with all these awesome technologies:-->
  <!--</h2>-->
  <!--<div class="techs">-->
    <!--<p>{{$ctrl.someData}}</p>-->
  <!--</div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-striped ">
        <thead>
        <tr class="table-active">
          <th>#</th>
          <th>First Name</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>

        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


